// COLORS
$primary-color: #ffa5a5;
$secondary-color: #5c969e;

$white-color: #fcdada;

$dark-grey: #5c969e;

$dark-blue-text: #3d7ea6; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
